.chart-container {
  background-color: black;
}

.coin-div-principal {
  min-height: 100vh;
  background-color: black;
}

.principal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texto-cripto {
  border: 1px solid white;
  border-radius: 20px;
  padding: auto;
  margin: auto;
}
