.history-container {
  background-color: black; /* cor de fundo */
  height: 50vh; /* altura da div */
  width: content-box; /* largura da div */
  align-items: center; /* alinhamento vertical */
  justify-content: center; /* alinhamento horizontal */
  display: flex; /* display flex */
}
