@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.coin-app {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 40px 0;
}

.primary-text {
  font-size: 80px;
  font-weight: extrabold;
  color: #fee715ff;
  text-transform: uppercase;
}

.coin-search {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  padding-top: 1em;
}

.coin-input {
  padding-left: 10px;
  text-align: left;
  width: 900px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #fee715ff;
  color: #fee715ff;
  background-color: #101820ff;
  margin-bottom: 20px;
}

.coin-input::placeholder {
  color: #fee715ff;
  font-size: 18px;
  font-weight: 100;
}

.coin-tranding-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 900px;
  padding: 20px 0;
  background-color: #101820ff;
  margin: 20px auto 0 auto;
  border-radius: 20px;
  border: 1px solid #fee715ff;
}

@media (max-width: 1000px) {
  .coin-input {
    width: 90%;
  }

  .coin-input::placeholder {
    font-size: 12px;
  }

  .coin-tranding-bg {
    width: 90%;
  }
  .primary-text {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .primary-text {
    font-size: 30px;
  }
}
