.token-container {
  display: flex;
  justify-content: center;
}

.token-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #FEE715FF;
  width: 900px;
}

.token {
  display: flex;
  align-items: center;
}

.token-row h1 {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .token-row {
    width: 90%;
  }

  .token-row h1 {
    font-size: 14px;
  }
}
