.footer {
  background-color: #101820ff;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.social_list {
  color: #101820ff;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.social_list :hover {
  color: #fee715ff;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #fff;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.texto {
  margin-top: 2em;
}

.texto span {
  font-weight: bold;
}
